<!DOCTYPE html>
<html>
<head>
    <title>Sensors</title>
</head>
<body>
    <h1>Sensors</h1>
    <ul>
    {{ range . }}
    <li>
        <form action="/admin/sensors/{{ .MAC }}" method="post" style="margin-top: 5px;">
            <label for="location_{{.MAC}}">{{.MAC}}</label>
            <input placeholder="location" type="text" name="location" id="location_{{.MAC}}" required value="{{.Location}}">
            <button type="submit">Rename</button>
        </form>
    </li>
    
    {{ end }}
    </ul>
</body>
</html>